@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
/* 공통 스타일 */
.sec .container{
    width: 100%;
}
.sec h2::after{
    display: block;
    content: '';
    width: 100px;
    height: 2px;
    margin: 0 auto;
    background-color: #98D8FB;
}
/* 모바일 수평 스크롤 금지 */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* 헤더 스타일 */
.header .row{
    width: 100%;
    height: 100vh;
    background: url(../img/mainjeju.jpg) no-repeat;
    background-size: cover;
}
.header h1{
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    padding-top: 300px;
    padding-left: 400px;
}
.header:hover h1{
    animation-name: portfolio;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: ease-out;
}
@keyframes portfolio{
    0%{
        color: #fff;
        opacity: 1;
    }
    50%{
        color: #5AC1F8;
    }
    100%{
        color: #fff;
        opacity: 1;
    }
}
.nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 65px;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    color:#98D8FB;
    z-index: 1000;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    margin: 20px 60px;
}
.nav li:hover {
    color: #065F8F;
    transition: all 0.7s;
    border-bottom: 1px solid #065F8F;
}
/* 스크롤 */
.sec-conts{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 230px;
}
.scrl-border{
    width: 30px;
    height: 45px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 25px;
    position: relative;
}
.move-point{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    animation-name: mouse-whill;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes mouse-whill{
    0%{
        top: 30%;
        opacity: 1;
    }
    90%{
        top: 70%;
        opacity: 0;
    }
    100%{
        top: 70%;
        opacity: 0;
    }
}
.scrl-txt{
    font-size: 12px;
    color: #fff;
    opacity: 2;
}

/* 어바웃미 스타일 */
.best{
    position: relative;
}
.best .row{
    height: 100vh;
}
.best h2{
    font-weight: 600;
    font-size: 64px;
    color:#065F8F;
    padding: 100px 0px 0px 500px;
    text-align: center;
}
.best .block01{
    width: 40%;
    height: 600px;
    background-color: #EAF7FE;
    position: absolute;
    top:50%;
    left:35%;
    transform:translate(-50%,-50%);
    border-radius: 10%;
}
.best .best-img{
    width: 20%;
    position: absolute;
    top:50%;
    left:35%;
    transform:translate(-50%,-50%);
    z-index: 998;
}
.best-img img{
    border-radius: 10%;
    width: 100%;
    height: auto;
}
.best .best-box{
    width: 40%;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    background-color: #98D8FB;
    position: absolute;
    top:60%;
    left:65%;
    transform:translate(-50%,-50%);
}
.best .best-education h4{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.best .best-education p{
    font-weight: 400;
    line-height: 1.8em;
}
.best .best-education span{
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
    margin-top: 8px;
}
.far{
    font-size: 22px;
}
.fab{
    font-size: 24px;
}
.fas{
    font-size: 20px;
}

/* 스킬 스타일 */
.skills h2{
    font-weight: 600;
    font-size: 64px;
    color:#f8bcc2;
    text-align: center;
    padding: 150px 0;
}

.skills .row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    height: 100vh;
}
.skill{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 35%;
    margin-right: 5px;
    padding: 10px;
    background-color: #f8dede;
    font-size: 30px;
    border-radius: 50%;
}
.skills .html{
    margin-left: 100px;
}
.skills .github{
    margin-right: 95px;
}
.skill .fas,.skill .fab{
    font-size: 64px;
    text-shadow: #de6969 1px 0 10px;
    color: #fff;
    margin-bottom: 50px;
}
.skill p{
    color: #de6969;
    text-shadow: #fff 3px 0 10px;
}

/* 프로젝트 스타일 */
.project .row{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}
.project h2{
    font-weight: 600;
    font-size: 64px;
    color:#f8bcc2;
    text-align: center;
    padding: 150px 0;
}
.prj{
    margin: 100px 100px;
}

.project .project01{
    margin-top: 0;
}
.prj-img{
    width: 50%;
    height: auto;
    cursor: pointer;
    float: left;
}
.prj-txt{
    width: 50%;
    float: right;
    padding-top:200px;
}
.prj p{
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    color: #de6969
}
.prj-txt p> span{
    color: #f8bcc2;
    font-size: 16px;
}
.prj h4{
    font-size: 64px;
    font-weight: 600;
    text-align: right;
    color: #fff;
    text-shadow: #de6969 1px 0 10px;
}
.prj hr{
    border: 1px solid #f8bcc2;
    margin: 10px 0;
}

/* 데스크탑 */
@media (max-width:1200px){
    .header .row{
        height: 85vh;
    }
    .header h1{
        font-size: 100px;
        font-weight: 900;
        padding-top: 200px;
        padding-left: 170px;
    }
    .sec-conts{
        margin-top: 150px;
    }
    .best .block01{
        width: 40%;
    }
    .best .best-img{
        width: 30%;
        left:32%;
    }
    .skills .row{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0;
    }
    .skill {
        margin-right: 20px;
    }
    .skills .html{
        margin-left: 0px;
    }
    .skills .github{
        margin-right: 0px;
    }
}

@media(max-width:920px){
    .header h1{
        font-size: 75px;
        padding-top: 270px;
        padding-left: 160px;
    }
    .sec-conts{
        margin-top: 150px;
    }
    .best h2{
        padding: 105px 0px 200px 0px;
    }
    .best .block01{
        width: 50%;
    }
    .best .best-img{
        width: 35%;
        left:32%;
    }
    .best .best-box{
        width: 41%;
        height: auto;
        padding: 30px;
        border-radius: 20px;
        background-color: #f8bcc2;
        position: absolute;
        top:60%;
        left:70%;
        transform:translate(-50%,-50%);
    }
}


/* 테블릿 */
@media (max-width:767px){
    .header .row{
        height: 85vh;
    }
    .header h1{
        font-size: 54px;
        font-weight: 900;
        padding-top: 260px;
        padding-left: 70px;
    }
    .sec-conts{
        margin-top: 200px;
    }
    .best h2{
        padding: 105px 0px 200px 0px;
    }
    .best .row{
        height: 100vh;
    }
    .best .block01{
        width: 80%;
        height: 500px;
        top: 45%;
        left:50%;
        border-radius: 20px;
    }
    .best .best-img{
        width: 50%;
        top:40%;
        left:50%;
    }
    .best .best-box{
        width: 80%;
        top:70%;
        left:50%;
        z-index: 998;
    }
    .skills .row{
        flex-flow: row wrap;
        justify-content:center;
        align-items: center;
        height: 100vh;
    }
    .skill{
        width: 100%;
        height: auto;
        min-height: 10%;
        font-size: 24px;
        border-radius: 0%;
        margin: 10px;
    }
    .skills .html{
        margin-left: 10px;
    }
    .skills .github{
        margin-right: 10px;
    }
    .skill .fas,.skill .fab{
        font-size: 52px;
        margin-bottom: 0px;
    }
    .project .row{
        flex-flow: column nowrap;
    }
    .prj-img{
        width: 100%;
        cursor: pointer;
    }
    .prj-txt{
        width: 100%;
        padding-top:10px;
    }
    .prj h4{
        font-size: 32px;
        font-weight: 600;
    }
    .prj hr{
        border: 1px solid #f8bcc2;
        margin: 10px 0;
        width: 100%;
    }
}

/* 모바일 */
@media (max-width:424px){
    .container{
        margin: 0;
    }
    .header h1{
        font-size: 64px;
        padding-top: 300px;
        padding-left: 0px;
        text-align: center;
    }
    .sec-conts{
        margin-top: 160px;
    }
    .nav{
        font-weight: 600;
        font-size: 14px;
    }
    .nav ul{
        margin: 20px 20px;
    }
    .best .row{
        margin: 50px;
    }
    .best h2{
        padding: 110px 0px 40px 0px;
        font-size: 52px;
    }
    .best .best-img{
        width: 65%;
        top:40%;
        left:50%;
    }
    .best .best-box{
        width: 80%;
        top:80%;

    }
    .best .best-txt h3,
    .best .best-education h4{
        font-size: 16px;
    }
    .best .best-txt p,
    .best .best-education p{
        font: 12px;
    }
    .best .best-txt i,
    .best .best-education span{
        margin-right: 10px;
        margin-top: 8px;
    }
    .far{
        font-size: 20px;
    }
    .fab{
        font-size: 22px;
    }
    .fas{
        font-size: 18px;
    }
    .skills h2{
        font-size: 52px;
        padding: 150px 0 40px 0;
    }
    .skills .row{
        flex-flow: row wrap;
        justify-content:center;
        align-items: center;
        height: 100vh;
    }
    .skill{
        width: 100%;
        height: 10%;
        font-size: 24px;
        border-radius: 0%;
        margin: 10px;
    }
    .skills .html{
        margin-left: 10px;
    }
    .skills .github{
        margin-right: 10px;
    }
    .skill .fas,.skill .fab{
        font-size: 52px;
        margin-bottom: 0px;
    }
    .project .row{
        flex-flow: column nowrap;
        margin: 0 auto;
    }
    .project h2{
        font-size: 54px;
        padding: 150px 0 100px 0;
    }
    .prj{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .prj-txt{
        width: 100%;

    }
    .prj h4{
        text-align: center;
        margin: 10px;
        font-size: 32px;
    }
    .prj p{
        font-size: 14px;
        text-align: center;
    }
}
