@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
/* 공통 스타일 */
.sec .container{
    width: 100%;
    height: 100vh;
}
.sec h2::after{
    display: block;
    content: '';
    width: 100px;
    height: 2px;
    margin: 0 auto;
    background-color: #98D8FB;
}
/* 모바일 수평 스크롤 금지 */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* 헤더 스타일 */
.header .row{
    width: 100%;
    height: 100vh;
    background: url(../img/mainjeju.jpg) no-repeat;
    background-size: cover;
}
.header h1{
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    padding-top: 300px;
    padding-left: 400px;
}
.header:hover h1{
    animation-name: portfolio;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: ease-out;
}
@keyframes portfolio{
    0%{
        color: #fff;
        opacity: 1;
    }
    50%{
        color: #5AC1F8;
    }
    100%{
        color: #fff;
        opacity: 1;
    }
}
.nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 65px;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    color:#98D8FB;
    z-index: 1000;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    margin: 20px 60px;
}
.nav li:hover {
    color: #065F8F;
    transition: all 0.7s;
    border-bottom: 1px solid #065F8F;
}
/* 스크롤 */
.sec-conts{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 230px;
}
.scrl-border{
    width: 30px;
    height: 45px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 25px;
    position: relative;
}
.move-point{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    animation-name: mouse-whill;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes mouse-whill{
    0%{
        top: 30%;
        opacity: 1;
    }
    90%{
        top: 70%;
        opacity: 0;
    }
    100%{
        top: 70%;
        opacity: 0;
    }
}
.scrl-txt{
    font-size: 12px;
    color: #fff;
    opacity: 2;
}

/* best 스타일 */
.best{
    position: relative;
}
.best .row{
    height: 100vh;
}
.best h2{
    font-weight: 600;
    font-size: 64px;
    color:#065F8F;
    padding: 100px 0px 0px 500px;
    text-align: center;
}
.best .block01{
    width: 40%;
    height: 600px;
    background-color: #EAF7FE;
    position: absolute;
    top:50%;
    left:35%;
    transform:translate(-50%,-50%);
    border-radius: 10%;
}
.best .best-img{
    width: 20%;
    position: absolute;
    top:50%;
    left:35%;
    transform:translate(-50%,-50%);
    z-index: 998;
}
.best-img img{
    border-radius: 10%;
    width: 100%;
    height: auto;
}
.best .best-box{
    width: 40%;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    background-color: #98D8FB;
    position: absolute;
    top:60%;
    left:65%;
    transform:translate(-50%,-50%);
}
.best .best-education h4{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.best .best-education p{
    font-weight: 400;
    line-height: 1.8em;
}
.best .best-education span{
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
    margin-top: 8px;
}
.far{
    font-size: 22px;
}
.fab{
    font-size: 24px;
}
.fas{
    font-size: 20px;
}

/* 리스트 스타일 */
.list h2{
    font-weight: 600;
    font-size: 64px;
    color:#065F8F;
    text-align: center;
    padding: 150px 0;
}
.list .row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    height: 100vh;
}
.tourlist{
    height: 80%;
    margin-right: 20px;
    padding: 10px;
    background-color: #EAF7FE;
    font-size: 30px;
}
.tourlist img{
    width: 400px;
    height: 350px;
    border-radius: 50%;
}
.list .list01{
    margin-left: 100px;
}
.list .list04{
    margin-right: 95px;
}
.tourlist h3{
    text-align: center;
    color: #fff;
    text-shadow: #5AC1F8 3px 0 10px;
}
.tourlist p{
    padding: 15px;
    font-size: 14px;
    line-height: 1.7em;
    color: #222;
}
.footer .container{
    width: 100%;
    height: 200px;
    background-color: #98D8FB;
    text-align: center;
    margin-top: 400px;
}
.footer .container h4{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    padding-top: 20px;
}
.footer .container p{
    font-size: 14px;
    color: #fff;
    padding: 5px 30px 30px 30px;
}
.sns-box{
    margin-right: 35px;
}
.sns{
    display: flex;
    justify-content: center;
}
.sns li{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 30px;
}
.fa-brands{
    font-size: 30px;
    color: #fff;
}
.footer li:hover .fa-facebook{
    color: #3b5998;
}
.footer li:hover .fa-youtube{
    color: #c4302b;
}
.footer li:hover .fa-instagram{
    color: rgb(236, 93, 236);
}
/* 데스크탑 */
@media (max-width:1200px){
    .header .row{
        height: 100vh;
    }
    .header h1{
        font-size: 100px;
        font-weight: 900;
        padding-top: 200px;
        padding-left: 170px;
    }
    .sec-conts{
        margin-top: 150px;
    }
    .best .block01{
        width: 40%;
    }
    .best .best-img{
        width: 30%;
        left:32%;
    }
    .list .row{
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 auto;
        height: 100vh;
    }
    .tourlist{
        width: 45%;
        height: auto;
        margin: 20px 20px;
    }
    .tourlist img{
        width: 100%;
        border-radius: 0%;
    }
    .list .list01{
        margin-left: 20px;
    }
    .list .list04{
        margin-right: 20px;
    }
    .footer .container{
        margin-top: 900px;
    }
}

@media(max-width:920px){
    .header h1{
        font-size: 75px;
        padding-top: 270px;
        padding-left: 160px;
    }
    .sec-conts{
        margin-top: 150px;
    }
    .best h2{
        font-size: 58px;
    }
    .best .block01{
        width: 50%;
    }
    .best .best-img{
        width: 35%;
        left:32%;
    }
    .best .best-box{
        width: 41%;
        height: auto;
        padding: 30px;
        border-radius: 20px;
        background-color: #98D8FB;
        position: absolute;
        top:60%;
        left:70%;
        transform:translate(-50%,-50%);
    }
    .list .row{
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 auto;
        height: 100vh;
    }

    .tourlist{
        width: 45%;
        height: auto;
        margin: 20px 20px;
    }
    .tourlist img{
        width: 100%;
        border-radius: 0%;
    }
    .list .list01{
        margin-left: 20px;
    }
    .list .list04{
        margin-right: 20px;
    }
    .footer .container{
        margin-top: 1000px;
    }
}


/* 테블릿 */
@media (max-width:767px){
    .header .row{
        height: 100vh;
    }
    .header h1{
        font-size: 54px;
        font-weight: 900;
        padding-top: 260px;
        padding-left: 70px;
    }
    .sec-conts{
        margin-top: 200px;
    }
    .best .container{
        margin: 200px 0 0 0;
    }
    .best h2{
        padding: 0px 0px 200px 0px;
    }
    .best .row{
        height: 100vh;
    }
    .best .block01{
        width: 80%;
        height: 500px;
        top: 45%;
        left:50%;
        border-radius: 20px;
    }
    .best .best-img{
        width: 50%;
        top:40%;
        left:50%;
    }
    .best .best-box{
        width: 80%;
        top:70%;
        left:50%;
        z-index: 998;
    }
    .tourlist{
        width: 100%;
        margin: 20px 20px;
    }
    .tourlist img{
        width: 100%;
        border-radius: 0%;
    }
    .list .list01{
        margin-left: 20px;
    }
    .list .list04{
        margin-right: 20px;
    }
    .footer .container{
        margin-top: 2000px;
    }
}
@media (max-width:620px){
    .footer .container{
        margin-top: 2300px;
    }
}
/* 모바일 */
@media (max-width:460px){
    .container{
        margin: 0;
    }
    .header .row{
        width: 100%;
        height: 100vh;
    }
    .header h1{
        font-size: 64px;
        padding-top: 190px;
        padding-left: 0px;
        text-align: center;
    }
    .sec-conts{
        margin-top: 160px;
    }
    .nav{
        font-weight: 600;
        font-size: 14px;
    }
    .nav ul{
        margin: 20px 10px;
    }
    .best .row{
        margin: 50px;
    }
    .best h2{
        font-size: 52px;
    }
    .best .best-img{
        width: 65%;
        top:40%;
        left:50%;
    }
    .best .best-box{
        width: 80%;
        top:75%;

    }
    .list h2{
        font-size: 52px;
        padding: 150px 0 40px 0;
        text-align: center;
    }
    .list .container{
        display: block;
    }
    .tourlist{
        margin: 0px 0px 50px 0px;
        font-size: 20px;
        padding: 20px;
    }
    .tourlist img{
        width: 100%;
        height: auto;
        border-radius: 0%;
        margin-bottom: 10px;
    }
    .list .list01{
        margin-left: 0px;
    }
    .list .list04{
        margin-right: 0px;
    }
    .footer .container{
        margin-top: 1900px;
    }
}
